@import '../../scss/2.colors';

.Todays_release{
    height: 100vh;
    background-color: getColor(color_background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}